#main_container {
    layout: vertical; /* Layout horizontal para posicionar os elementos lado a lado */
    width: 100%; /* O contêiner ocupa 100% da largura */
    height: 100%; /* O contêiner ocupa 100% da altura */
}

TelaInicial {
    layout: vertical; /* Vertical para o conteúdo dentro de Game */
    background: $boost;
    width: 50%;
    height: 30;
    margin: 1;
    padding: 1;
}

